In [13]:
#Data Science Tools and Ecosystem#

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [9]:
Some of the popular languages that Data Scientists use are:
    Phyton
    R
    SQL

SyntaxError: invalid syntax (195877664.py, line 1)

In [10]:
Some of the commonly used libraries used by Data Scientists include:
    Apache Air Flow
    Kube Flow
    Apache Nifi
    Node Red
    Apache Kafka

SyntaxError: invalid syntax (958760448.py, line 1)

In [ ]:
Data Science Tools

In [34]:
import pandas as pd
tabla=pd.DataFrame(data = [['kibana'],['Seldon'],['Tensor flow',0]],
                   columns =['ciencia','datos'])

tabla

       ciencia  datos
0       kibana    NaN
1       Seldon    NaN
2  Tensor flow    0.0

In [ ]:
###Below are a few examples of evaluating arithmetic expressions in Python###

In [45]:
ecuacion=3
valor=4
variable=5
(3*4)+5

17

In [ ]:
200 minutesen hours.

In [47]:
minutos=200
hora=60
(200/60)

3.3333333333333335

In [ ]:
Objectives:

In [ ]:
######kkkkdkd